<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_project"
        android:label="HealthyVibes"
        android:roundIcon="@drawable/icon_project"
        android:supportsRtl="true"
        android:theme="@style/FullScreen"
        tools:targetApi="31">
        <activity android:name=".Firstpage" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
       <activity android:name=".Login"></activity><activity android:name=".Register"></activity>
        <activity android:name=".EditProfile"></activity>
        <activity android:name=".Calculadora"></activity>
        <activity android:name=".Home"></activity>
        <activity android:name=".Exercicio"></activity>
        <activity android:name=".FuncionalAlong"></activity>
        <activity android:name=".MembrosInferioresABS"></activity>
        <activity android:name=".MembrosSuperiores"></activity>
        <activity android:name=".videos.Triceps"></activity>
        <activity android:name=".videos.Abdominal"></activity>
        <activity android:name=".videos.AlongamentoCobra"></activity>
        <activity android:name=".videos.Prancha"></activity>
        <activity android:name=".videos.Agachamento_Simples"></activity>
        <activity android:name=".videos.FlexaoMediana"></activity>
        <activity android:name=".videos.FlexaoSimples"></activity>
        <activity android:name=".videos.Sprinter"></activity>
        <activity android:name=".videos.Salamba"></activity>
        <activity android:name=".ConsumoCaloria"></activity>
        <activity android:name=".ConsumoAgua"></activity>
        <activity android:name=".GraficoIMC"></activity>
        <activity android:name=".Receitas.AdicionarReceita"></activity>
        <activity android:name=".Receitas.ReceitasSalvas"></activity>
        <activity android:name=".Receitas.EditarReceitas"></activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>







